### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### 编译产物 ###
*.class
*.jar
*.war
*.ear
build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 日志与临时文件 ###
*.log
*.tmp
hs_err_pid*
Thumbs.db
.DS_Store
